<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Question Bank</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header class="header">
        <h1 id="main-header">Question Bank</h1>
    </header>


    <center>
        <form>
            <input type="text" id="search-bar">
            <input type="file" id="input-file">
        </form>
    </center>

    <ul id="questionList"></ul>

    <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js"></script>

    <script type="text/javascript" src="app.js"></script>
</body>

</html>